// FONTS -----------------------------------------

$font-family-1: "Roboto", sans-serif;
$font-family-2: "Inter", sans-serif;

// COLORS -----------------------------------------

$primary-color-1: #fff;
$primary-color-2: #000;
$primary-color-3: #072d4b;
$primary-color-4: #2f9ff8;
$primary-color-5: #0768b5;
$primary-color-6: rgba(47, 159, 248, 0.1);

// BORDER RADIUS -----------------------------------------

$border-radius-1: 4px;
$border-radius-2: 8px;
$border-radius-3: 15px;
$border-radius-4: 20px;
$border-radius-5: 50%;

// BOX_SHADOWS -----------------------------------------

$box-shadow-1: 0px 2px 20px rgba(0, 0, 0, 0.15);
$box-shadow-2: 0px 2px 20px rgba(0, 0, 0, 0.04);
$box-shadow-3: 0px 2px 20px 5px rgba(7, 45, 75, 0.2);
