@import "../../App.scss";

.phone {
  position: relative;
  width: 100%;
  height: auto;

  &__inner {
    padding-top: 40px;
  }
  &__title {
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    color: $primary-color-3;
    margin-bottom: 15px;
  }
  &__btn-box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  &__btn {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    border-radius: $border-radius-1;
    color: $primary-color-4;
    background: rgba(47, 158, 248, 0.2);
    margin-right: 10px;
    padding: 4px 10px;
  }
  &__tit {
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    color: $primary-color-3;
    opacity: 0.6;
    margin-bottom: 35px;
  }
  &__img-box {
    width: 100%;
    max-height: 435px;
    height: 100%;
    border-radius: $border-radius-1;
    margin-bottom: 40px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__desc {
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    color: $primary-color-3;
    opacity: 0.6;
    margin-bottom: 28px;
  }
  &__acardion {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 28px;
  }
  &__acardion__title {
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    color: $primary-color-3;
    opacity: 0.6;
    margin-bottom: 10px;
  }
  &__acar-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  &__acar-item {
    display: flex;
    align-items: center;
    span {
      width: 13px;
      height: 13px;
      background: $primary-color-4;
      margin-right: 17px;
    }
    p {
      font-size: 17px;
      font-weight: 400;
      line-height: 40px;
      color: $primary-color-3;
      opacity: 0.6;
    }
  }
  &__user-box {
    width: 100%;
    height: auto;
    background: #ecf5f8;
    border-radius: $border-radius-1;
    margin-bottom: 40px;
    padding: 17px 20px 10px;
  }
  &__user-name {
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: end;
    color: #010e38;
    margin-bottom: 15px;
    cursor: pointer;
  }
  &__user-rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px dashed #aaa;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  &__user-star {
    display: flex;
    align-items: center;
  }
  &__user-star-tit {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.8);
    margin-right: 22px;
    font-style: italic;
  }
  &__user-star-list {
    @include list-style;
  }
  &__user-star-item {
    margin-right: 12px;
    cursor: pointer;
    span {
      font-size: 25px;
    }
  }
  &__user-rating-count {
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
      padding: 7px 14px;
      margin-left: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: $primary-color-1;
      border-radius: $border-radius-1;
      box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.04);
      p {
        display: flex;
        font-size: 14px;
        font-weight: 500;
        line-height: 30px;
        font-style: italic;
        align-items: center;
        color: #010e38;
        margin-right: 12px;
      }
      span {
        color: $primary-color-5;
      }
    }
  }
  &__forward {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  &__forward-tit {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.8);
    margin-right: 22px;
    font-style: italic;
    margin-right: 33px;
  }
  &__forward-list {
    @include list-style;
    margin-left: -12px;
    margin-right: -12px;
  }
  &__forward-item {
    margin: 0 12px;
  }
  &__forward-copy {
    display: flex;
    padding: 7px 13px;
    margin-left: auto;
    align-items: center;
    background: $primary-color-1;
    border-radius: $border-radius-1;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.04);

    span {
      display: inline-block;
      width: 1px;
      height: 26px;
      background: $primary-color-3;
      margin-left: 12px;
      margin-right: 10px;
    }
  }
  &__forward-copy-link {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    align-items: center;
    color: #010e38;
  }
  &__forward-copy-btn {
    display: flex;
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    align-items: center;
    color: $primary-color-5;
    background: transparent;

    &:hover {
      text-decoration: underline;
    }
  }
  &__comment {
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 50px;
  }
  &__comment-title {
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    color: $primary-color-3;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      display: inline-block;
      width: 84%;
      height: 1px;
      background: $primary-color-3;
      margin-left: 15px;
    }
  }
  &__comment-form {
    width: 100%;
    height: auto;
    padding: 27px 40px;
    margin-bottom: 30px;
    background: $primary-color-1;
    border-radius: $border-radius-2;
  }
  &__comment-input-box {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 24px;
  }
  &__comment-input-user,
  &__comment-input-desc {
    width: 47%;
    outline: none;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #67727e;
    border: 1px solid #e9ebf0;
    background: $primary-color-1;
    border-radius: $border-radius-2;
    margin-right: 50px;

    &:focus {
      border-color: $primary-color-4;
    }

    &:nth-child(2) {
      margin-right: 0;
    }
  }
  &__comment-input-desc {
    width: 75%;
    height: 95px;
    resize: none;
  }
  &__comment-form-btn {
    padding: 12px 30px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    background: #5357b6;
    color: $primary-color-1;
    border-radius: $border-radius-2;

    &:hover {
      opacity: 0.9;
    }
  }
  &__comments-title {
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #2f9ff8;
    text-decoration: underline;
    display: flex;
    align-items: center;
    margin-bottom: 28px;

    span {
      display: inline-block;
      margin-left: 55px;
      width: 24px;
      height: 24px;
      font-size: 22px;
      text-align: center;
      line-height: 32px;
      color: $primary-color-1;
      background: $primary-color-4;
      border-radius: $border-radius-5;
      cursor: pointer;

      &:hover {
        opacity: 0.9;
      }
    }
  }
  &__comments-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  &__comments-item {
    display: flex;
    padding: 25px;
    margin-bottom: 20px;
    align-items: flex-start;
    background: $primary-color-1;
    justify-content: space-between;
    border-radius: $border-radius-2;
  }
  &__comments-item-like-box {
    padding: 10px 15px;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f5f6fa;
    border-radius: 10px;

    button {
      font-size: 25px;
      line-height: 20px;
      color: #c5c6ef;
      background: transparent;
      transition: all 0.2s ease;

      &:hover {
        color: $primary-color-5;
      }
    }
    p {
      margin: 15px 0;
      font-size: 16px;
      font-weight: 500;
      line-height: 19px;
      text-align: center;
      color: #5357b6;
    }
  }
  &__comments-item-desc-top {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    img {
      width: 33px;
      height: 32px;
      object-fit: cover;
      margin-right: 16px;
    }
  }
  &__comments-item-desc-user-name {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: #334253;
    margin-right: 15px;
  }
  &__comments-item-desc-data-comm {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #67727e;
  }
  &__comments-item-desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #67727e;
  }
}
