@import "../../../../App.scss";

.videonews {
  position: relative;
  width: 100%;
  height: auto;
  padding: 42px 80px 85px;

  &__inner {
    position: relative;
    width: 100%;
  }
  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-align: center;
    margin-bottom: 50px;
    color: $primary-color-3;
  }
  &__content {
    width: 100%;
    display: flex;
  }
  &__content-left {
    position: relative;
    width: 66%;
    height: 575px;
    border-radius: 8px;
    margin-right: 20px;
    overflow: hidden;
  }
  &__content-left-list {
    position: relative;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  &__content-left-item {
    position: relative;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &____content-left-desc {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 115px;
    padding: 21px;
    display: flex;
    align-items: center;
    backdrop-filter: blur(15px);
    border-radius: 0px 0px 8px 8px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;

    p {
      font-size: 23px;
      font-weight: 600;
      line-height: 35px;
      color: $primary-color-1;
    }
  }
  &__content-left-play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 84px;
    height: 84px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-40%, -50%);
    backdrop-filter: blur(15px);
    background: rgba(0, 0, 0, 0.5);
    border-radius: $border-radius-5;
    transition: all 0.2s ease;

    img {
      width: 28px;
      height: 33px;
      object-fit: cover;
    }
    &:hover {
      transform: translate(-40%, -50%) scale(1.1);
    }
  }

  &__content-right {
    position: relative;
    width: 34%;
    height: auto;
    overflow: hidden;
  }
  &__content-right-list {
    position: relative;
    margin: 0;
    padding: 0;
    padding: 20px;
    padding-bottom: 15px;
    margin-bottom: 12px;
    list-style-type: none;
    border-radius: 8px;
    background: $primary-color-1;
  }
  &__content-right-item {
    position: relative;
    width: 100%;
    padding: 15px 0;
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;

    &:nth-child(1) {
      padding-top: 0;
      border: none;
    }
    &:nth-child(5) {
      padding-bottom: 0;
    }
  }
  &__content-right-img-box {
    position: relative;
    width: 125px;
    height: 67px;
    margin-right: 10px;

    img {
      width: 125px;
      height: 70px;
      object-fit: cover;
    }
  }
  &__content-right-play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 29px;
    height: 29px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(15px);
    background: rgba(0, 0, 0, 0.5);
    border-radius: $border-radius-5;
    transition: all 0.2s ease;

    img {
      width: 11px;
      height: 13px;
      object-fit: cover;
    }
    &:hover {
      transform: translate(-50%, -50%) scale(1.1);
    }
  }
  &__content-right-desc {
    position: relative;
    width: 235px;
    height: 65px;
    overflow: hidden;

    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__content-right-desc-data {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    color: #c7c8ca;
    margin-bottom: 5px;

    img {
      width: 16px;
      height: 16px;
      object-fit: cover;
      margin-right: 5px;
    }
  }
  &__content-right-text {
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    color: #21242a;

    display: flex;
    align-items: center;
  }
  &__content-right-btn {
    width: 100%;
    padding: 11px 10px 9px 10px;

    font-size: 15px;
    font-weight: 500;
    line-height: 22px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #072d4b;
    background: transparent;
    border: 1px solid #000000;
    border-radius: 5px;
    transition: all 0.3s ease;

    i {
      font-size: 25px;
      margin-left: 5px;
      transition: all 0.1s ease;
    }
    &:hover {
      color: $primary-color-1;
      background: $primary-color-4;
      border: 1px solid $primary-color-4;

      i {
        transform: translateX(10px);
      }
    }
  }
}
