@import "../../../App.scss";

.right {
  &__weather {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    background: $primary-color-1;
    border-radius: $border-radius-1;
    box-shadow: $box-shadow-2;
    padding: 9px 15px 11px;
  }
  &__weather-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 8px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(7, 46, 75, 0.2);
    div {
      display: flex;
    }
  }
  &__weather-title-box {
    width: 100%;
    max-width: 150px;
    overflow: hidden;
  }
  &__weather-title-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
  }
  &__weather-title-item {
    min-width: 150px;
    height: auto;
  }
  &__weather-title {
    color: $primary-color-3;
    line-height: 18px;
    font-weight: 400;
    font-size: 15px;
  }
  &__weather-left-btn,
  &__weather-right-btn {
    width: 24px;
    height: 24px;
    margin: 0 5px;
    display: flex;
    font-size: 20px;
    line-height: 20px;
    align-items: center;
    justify-content: center;
    color: $primary-color-1;
    background: $primary-color-4;
    border-radius: $border-radius-5;
  }
  &__weather-list-box {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  &__weather-list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
    transition: all 0.5s ease;
  }
  &__weather-item {
    min-width: 255px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__weather-item-tit {
    color: $primary-color-3;
    line-height: 18px;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 7px;
  }
  &__weather-item-degree {
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
    color: $primary-color-3;
    display: flex;
    align-items: start;

    span {
      display: inline-block;
      font-size: 12px;
      line-height: 14px;
    }
  }
  &__weather-item-img {
    width: 52px;
    height: 52px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.weatherBtnAct {
  opacity: 0.2;
}
