@import "../../../../App.scss";

.fotonews {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 35px;
  padding-bottom: 45px;
  overflow: hidden;
  padding: 35px 40px 45px;
  background: $primary-color-1;
  &__top {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: $primary-color-3;
  }
  &__btn {
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    padding: 10px 26px;
    color: $primary-color-3;
    background: $primary-color-1;
    border-radius: $border-radius-1;
    border: 1px solid $primary-color-3;
    transition: all 0.2s ease;

    &:hover {
      color: $primary-color-1;
      background: $primary-color-4;
      border: 1px solid $primary-color-4;
    }
  }
  &__slider {
    position: relative;
    width: 100%;
    height: auto;
    padding: 25px 0;
    overflow: hidden;

    &:hover {
      .fotonews__slider-left-btn {
        left: 0;
        opacity: 1;
      }
      .fotonews__slider-right-btn {
        right: 0;
        opacity: 1;
      }
    }
  }
  &__slider-left-btn,
  &__slider-right-btn {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding: 7px;
    display: flex;
    font-size: 30px;
    line-height: 25px;
    align-items: center;
    justify-content: center;
    color: $primary-color-3;
    box-shadow: $box-shadow-1;
    background: $primary-color-1;
    border-radius: $border-radius-5;
    transition: all 0.3s ease;
    opacity: 0;
    z-index: 1;

    &:hover {
      color: $primary-color-1;
      background: $primary-color-4;
    }
  }
  &__slider-left-btn {
    left: 30px;
  }
  &__slider-right-btn {
    right: 30px;
  }
  &__slider-list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-left: -15px;
    margin-right: -15px;
    transition: all 0.5s ease;
  }
  &__slider-item {
    position: relative;
    width: 100%;
    height: 410px;
    min-width: 368px;
    margin: 0 15px;
    border-radius: $border-radius-3;
    overflow: hidden;
    &:nth-child(1) {
      min-width: 565px;
    }
    &:hover {
      box-shadow: $box-shadow-1;
    }
  }
  &__slider-img-box {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__slider-desc {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 190px;
    overflow: hidden;
    display: flex;
    align-items: end;
    padding: 25px 18px 25px 28px;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px -180px 40px -43px rgba(0, 0, 0, 0.82) inset;
    z-index: 1;
  }
  &__slider-text {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: $primary-color-1;
  }
}
