@import "../../App.scss";

.main {
  position: relative;
  width: 60%;
  height: auto;
  padding: 0 45px;
}

@media screen and (max-width: 1100px) {
  .main {
    padding: 0 20px;
  }
}

@media screen and (max-width: 1000px) {
  .main {
    position: relative;
    width: 100%;
    padding: 0;
    z-index: 100;
    &__top {
      display: none;
    }
    &__navbar {
      display: none;
    }
  }
}
