@import "../../../App.scss";

.main {
  &__top {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 15px;
  }
  &__top-search {
    position: relative;
    width: 240px;
    height: 45px;
    margin-right: 40px;
    input {
      border: none;
      outline: none;
      width: 100%;
      height: 100%;
      padding: 14px;
      padding-right: 45px;
      font-family: $font-family-1;
      line-height: 18px;
      font-weight: 400;
      font-size: 15px;
      color: $primary-color-3;
      background: rgba(47, 159, 248, 0.04);
      border-radius: $border-radius-1;
    }
    span {
      position: absolute;
      top: 50%;
      right: 14px;
      transform: translate(0, -50%);
      font-size: 20px;
      line-height: 20px;
      color: $primary-color-3;
    }
  }
  &__top-prices-list {
    width: auto;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
  }
  &__top-prices-item {
    padding-right: 20px;
    margin-right: 23px;
    border-right: 1px solid rgba(0, 0, 0, 0.3);

    &:nth-child(3) {
      border: none;
    }
  }
  &__top-prices-title {
    color: $primary-color-3;
    font-family: $font-family-1;
    line-height: 15px;
    font-weight: 400;
    font-size: 13px;

    span {
      display: inline-block;
      margin-left: 3px;
      img {
        width: 8px;
        height: 8px;
        object-fit: cover;
      }
    }
  }
}
