@import "../../../App.scss";

.phone {
  &__slider {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 30px;
    padding: 0 35px 50px;
    overflow: hidden;
  }
  &__slider-title {
    border-top: 1px dashed #aaa;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 20px;
    text-align: center;
    color: $primary-color-3;
    padding-top: 30px;
  }
  &__slider-box {
    width: 100%;
    height: auto;
    padding-top: 20px;
    overflow: hidden;

    &:hover {
      .phone__slider-left-btn {
        opacity: 1;
      }
      .phone__slider-right-btn {
        opacity: 1;
      }
    }
  }
  &__slider-list {
    @include list-style;
    margin-left: -15px;
    margin-right: -15px;
    transition: all 0.5s ease;
  }
  &__slider-item {
    position: relative;
    width: 320px;
    min-width: 320px;
    margin: 0 15px;
    height: 260px;
    overflow: hidden;
    box-shadow: $box-shadow-2;
    background: $primary-color-1;
    border-radius: $border-radius-1;
    cursor: pointer;
  }
  &__slider-item-img {
    width: 100%;
    height: 185px;
    object-fit: cover;
  }
  &__slider-item-categor-data {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px 12px 3px;
    justify-content: space-between;

    p {
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
      color: $primary-color-3;
      opacity: 0.6;
    }
  }
  &__slier-item-desc-box {
    width: 100%;
    height: auto;
    padding: 0 12px 8px;
    p {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      color: $primary-color-3;
    }
  }
  &__slider-left-btn,
  &__slider-right-btn {
    position: absolute;
    top: 50%;
    transform: translate(0, -30%);
    padding: 7px;
    font-size: 26px;
    line-height: 20px;
    color: $primary-color-3;
    background: $primary-color-1;
    border-radius: $border-radius-5;
    transition: all 0.3s ease;
    z-index: 1;

    &:hover {
      color: $primary-color-1;
      background: $primary-color-4;
    }
  }
  &__slider-left-btn {
    left: 35px;
    opacity: 0;
  }
  &__slider-right-btn {
    right: 35px;
    opacity: 0;
  }
}
