@import "../../App.scss";

.main {
  &__navbar {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 40px;
  }
  &__navbar-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: $primary-color-3;
    margin-bottom: 7px;
  }
  &__navbar-categor {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 9px;
    padding-bottom: 11px;
    overflow: hidden;
  }
  &__navbar-categor-left-btn,
  &__navbar-categor-right-btn {
    position: absolute;
    top: 50%;
    border: none;
    background: #f4f9f8;
    transform: translate(0, -50%);
    cursor: default !important;
    z-index: 1;

    i {
      font-size: 20px;
      line-height: 20px;
      padding: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $primary-color-1;
      background: $primary-color-4;
      border-radius: $border-radius-5;
      display: inline-block;
      cursor: pointer;
    }
  }
  &__navbar-categor-left-btn {
    left: 0;
    padding: 12px 14px 14px 0;
  }
  &__navbar-categor-right-btn {
    right: -25px;
    padding: 12px 26px 14px 15px;
  }
  &__navbar-categor-list {
    width: auto;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-left: -5px;
    margin-right: -5px;
    transition: all 0.5s ease;
  }
  &__navbar-categor-item {
    margin: 0 5px;
    cursor: pointer;
    background: $primary-color-1;
    border-radius: $border-radius-4;
    border: 0.2px solid $primary-color-1;
    box-shadow: 0px 2px 20px $box-shadow-2;
    transition: all 0.2s ease;
    a {
      text-decoration: none;
      display: inline-block;
    }

    &:hover {
      background: $primary-color-4;
      p {
        color: $primary-color-1;
      }
    }
  }
  &__navbar-categor-title {
    padding: 6px 16px;
    color: $primary-color-3;
    line-height: 18px;
    font-weight: 400;
    font-size: 15px;
    transition: all 0.2s ease;
    white-space: nowrap;
  }
}
.categorAct {
  background: $primary-color-4;
  p {
    color: $primary-color-1;
  }
}
.d-none {
  opacity: 0;
  z-index: -10;
}
