@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f4f9f8;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  border: none;
  cursor: pointer;
}

.app {
  width: 100%;
  min-height: 100vh;
  background: #f4f9f8;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 20px;
  overflow-x: hidden;
}

@media screen and (max-width: 1000px) {
  body {
    padding-top: 65px;
    padding-bottom: 85px;
  }
  .container {
    padding: 0 10px;
  }
}

.right {
  width: 21%;
  height: 100%;
  padding-top: 15px;
  padding-right: 34px;
}

.right__inner {
  position: relative;
  width: 100%;
}

.right__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.right__top-dark-light {
  width: 90px;
  padding: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  background: rgba(47, 159, 248, 0.04);
}

.right__top-light {
  width: auto;
  height: 100%;
  padding: 6px;
  background: transparent;
}

.right__top-light img {
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}

.right__top-dark {
  width: auto;
  height: 100%;
  padding: 6px;
}

.right__top-dark img {
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}

.right__selec {
  border: none;
  outline: none;
  padding: 14px 22px;
  border-radius: 4px;
  background: rgba(47, 159, 248, 0.04);
}

.right__selec p {
  color: #072d4b;
  line-height: 18px;
  font-weight: 400;
  font-size: 15px;
}

.right__btns {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.right__btns-list {
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  list-style-type: none;
}

.right__btns-item {
  margin-left: 15px;
}

.right__btns-item-btn {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: #d9d9d9;
}

.right__reporter {
  width: 100%;
  height: auto;
  padding: 13px 15px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.04);
}

.right__reporter-title {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: #072d4b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 9px;
}

.right__reporter-title img {
  width: 24px;
  height: 24px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 10px;
}

.right__reporter-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.right__reporter-box-tit {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #072d4b;
  opacity: 0.6;
}

.right__reporter-box-btn {
  padding: 10px 25px;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: #2f9ff8;
  background: #fff;
  border-radius: 4px;
  border: 0.2px solid #2f9ff8;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.right__reporter-box-btn:hover {
  color: #fff;
  background: #2f9ff8;
}

.right__flowed {
  width: 100%;
  height: auto;
  margin-bottom: 25px;
  padding: 7px 15px;
  -webkit-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.04);
  background: #fff;
  border-radius: 4px;
}

.right__flowed-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.right__aside {
  padding: 21px 20px 6px;
  height: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
}

.right__aside div {
  width: 100%;
  margin-bottom: 13px;
}

.right__aside-price {
  margin-right: 22px;
}

.LightActBtn {
  border-radius: 4px 0 0 4px;
  background: #fff;
}

.DarkActBtn {
  border-radius: 0 4px 4px 0;
  background: #fff;
}

@media screen and (max-width: 1100px) {
  .right__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-bottom: 10px;
  }
  .right__top-dark-light {
    margin-top: 10px;
  }
  .right__btns-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .right__btns-item {
    margin-left: 15px;
  }
  .right__reporter-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .right__reporter-box-tit {
    margin-bottom: 10px;
  }
  .right__aside div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    margin: 0;
    margin-bottom: 10px;
  }
  .right__aside div img {
    margin-bottom: 10px;
  }
  .right__aside-price {
    margin-right: 22px;
  }
}

@media screen and (max-width: 1000px) {
  .right {
    display: none;
  }
}
/*# sourceMappingURL=Right.css.map */