@import "../../App.scss";

.right {
  width: 21%;
  height: 100%;
  padding-top: 15px;
  padding-right: 34px;
  &__inner {
    position: relative;
    width: 100%;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  &__top-dark-light {
    width: 90px;
    padding: 2px;
    display: flex;
    align-items: center;
    border-radius: $border-radius-1;
    background: rgba(47, 159, 248, 0.04);
  }
  &__top-light {
    width: auto;
    height: 100%;
    padding: 6px;
    background: transparent;
    img {
      width: 30px;
      height: 30px;
      object-fit: cover;
    }
  }
  &__top-dark {
    width: auto;
    height: 100%;
    padding: 6px;
    img {
      width: 30px;
      height: 30px;
      object-fit: cover;
    }
  }
  &__selec {
    border: none;
    outline: none;
    padding: 14px 22px;
    border-radius: $border-radius-1;
    background: rgba(47, 159, 248, 0.04);
    p {
      color: $primary-color-3;
      line-height: 18px;
      font-weight: 400;
      font-size: 15px;
    }
  }

  &__btns {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }
  &__btns-list {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    list-style-type: none;
  }
  &__btns-item {
    margin-left: 15px;
  }
  &__btns-item-btn {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background: #d9d9d9;
  }

  &__reporter {
    width: 100%;
    height: auto;
    padding: 13px 15px;
    margin-bottom: 20px;
    background: $primary-color-1;
    border-radius: $border-radius-1;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.04);
  }
  &__reporter-title {
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    color: $primary-color-3;
    display: flex;
    align-items: center;
    margin-bottom: 9px;
    img {
      width: 24px;
      height: 24px;
      object-fit: cover;
      margin-right: 10px;
    }
  }
  &__reporter-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__reporter-box-tit {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: $primary-color-3;
    opacity: 0.6;
  }
  &__reporter-box-btn {
    padding: 10px 25px;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    color: $primary-color-4;
    background: $primary-color-1;
    border-radius: $border-radius-1;
    border: 0.2px solid $primary-color-4;
    transition: all 0.3s ease;

    &:hover {
      color: $primary-color-1;
      background: $primary-color-4;
    }
  }

  &__flowed {
    width: 100%;
    height: auto;
    margin-bottom: 25px;
    padding: 7px 15px;
    box-shadow: $box-shadow-2;
    background: $primary-color-1;
    border-radius: $border-radius-1;
  }
  &__flowed-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  &__aside {
    padding: 21px 20px 6px;
    height: auto;
    flex-wrap: wrap;
    overflow: hidden;
    div {
      width: 100%;
      margin-bottom: 13px;
    }
  }
  &__aside-price {
    margin-right: 22px;
  }
}
.LightActBtn {
  border-radius: $border-radius-1 0 0 $border-radius-1;
  background: $primary-color-1;
}
.DarkActBtn {
  border-radius: 0 $border-radius-1 $border-radius-1 0;
  background: $primary-color-1;
}

@media screen and(max-width: 1100px) {
  .right {
    &__top {
      flex-direction: column-reverse;
      align-items: flex-end;
      margin-bottom: 10px;
    }
    &__top-dark-light {
      margin-top: 10px;
    }
    &__btns-list {
      flex-wrap: wrap;
      justify-content: flex-end;
    }
    &__btns-item {
      margin-left: 15px;
    }
    &__reporter-box {
      flex-direction: column;
      align-items: start;
    }
    &__reporter-box-tit {
      margin-bottom: 10px;
    }
    &__aside {
      div {
        flex-direction: column;
        align-items: start;
        margin: 0;
        margin-bottom: 10px;
        img {
          margin-bottom: 10px;
        }
      }
    }
    &__aside-price {
      margin-right: 22px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .right {
    display: none;
  }
}
