@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f4f9f8;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  border: none;
  cursor: pointer;
}

.app {
  width: 100%;
  min-height: 100vh;
  background: #f4f9f8;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 20px;
  overflow-x: hidden;
}

@media screen and (max-width: 1000px) {
  body {
    padding-top: 65px;
    padding-bottom: 85px;
  }
  .container {
    padding: 0 15px;
  }
}

.footer {
  position: relative;
  width: 100%;
  height: auto;
  background: #fff;
}

.footer__inner {
  width: 100%;
  max-width: 1215px;
  margin: 0 auto;
  padding: 30px 20px;
  padding-bottom: 0;
}

.footer__logo-box {
  width: 116px;
  height: 26px;
  margin-bottom: 32px;
}

.footer__logo-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer__content {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__menus-desc {
  width: 100%;
  padding-right: 10px;
}

.footer__menus {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: -10px;
  margin-right: -10px;
}

.footer__menus-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  margin-bottom: 32px;
  color: #000;
  white-space: nowrap;
}

.footer__menus-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__menus-item a {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #000;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.footer__menus-item a:hover {
  text-decoration: underline;
}

.footer__desc-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #000;
}

.footer__right {
  width: auto;
  padding-left: 32px;
  padding-bottom: 60px;
  border-left: 1px solid rgba(0, 0, 0, 0.178);
}

.footer__contact {
  width: auto;
  margin-bottom: 50px;
}

.footer__contact-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  color: #000;
  margin-bottom: 12px;
}

.footer__contact-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__contact-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.footer__contact-item img {
  width: 24px;
  height: 24px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 13px;
}

.footer__contact-item p,
.footer__contact-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.footer__contact-subscribe-btn {
  font-size: 16px;
  font-weight: 400;
  padding: 5px 40px;
  line-height: 19px;
  text-align: center;
  border-radius: 5px;
  color: #000;
  background: #fff;
  border: 1px solid #000;
  -webkit-box-shadow: 0px 4px 6px -4px rgba(24, 39, 75, 0.12), 0px 8px 8px -4px rgba(24, 39, 75, 0.08);
          box-shadow: 0px 4px 6px -4px rgba(24, 39, 75, 0.12), 0px 8px 8px -4px rgba(24, 39, 75, 0.08);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer__contact-subscribe-btn:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.633);
}

.footer__follow {
  position: relative;
  width: auto;
  margin-bottom: 80px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.145);
}

.footer__follow-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  margin-bottom: 16px;
  color: #000;
}

.footer__follow-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__follow-item {
  margin-right: 16px;
}

.footer__follow-item a {
  font-size: 25px;
  display: inline-block;
  text-decoration: none;
  color: #000;
  opacity: 0.8;
}

.footer__store-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__store-item {
  margin-right: 12px;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .footer__right {
    display: none;
  }
}

@media screen and (max-width: 678px) {
  .footer__menus {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__menu {
    margin: 0 10px;
  }
}

@media screen and (max-width: 465px) {
  .footer__inner {
    padding-top: 10px;
  }
  .footer__menus-desc {
    padding-right: 0px;
  }
  .footer__logo-box {
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .footer__menus {
    width: 100%;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    overflow: hidden;
    margin: 0;
  }
  .footer__menus::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 350px;
    background: #666666;
  }
  .footer__menu {
    width: 50%;
    margin: 0;
    margin-bottom: 15px;
  }
  .footer__menu:nth-child(1), .footer__menu:nth-child(3) {
    text-align: right;
    padding-right: 10px;
  }
  .footer__menu:nth-child(2), .footer__menu:nth-child(4) {
    text-align: left;
    padding-left: 10px;
  }
  .footer__menus-item {
    line-height: 25px;
  }
  .footer__menus-title {
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=Footer.css.map */