// FONTS ---------------------------------------------
@import "./assets/fonts/Inter.scss";
@import "./assets/fonts/Roboto.scss";

// VERIABLES ---------------------------------------------
@import "./assets/Variables_SASS/veriables.scss";
@import "./assets/Mixin/Mixin.scss";
// ----------------------------------------------------------------------
// ----------------------------------------------------------------------
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: #f4f9f8;
  font-family: $font-family-1;
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
button {
  border: none;
  cursor: pointer;
}
.app {
  width: 100%;
  min-height: 100vh;
  background: #f4f9f8;
}
.container {
  width: 100%;
  height: 100%;
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 20px;
  overflow-x: hidden;
}
