@import "../../../../App.scss";

.uza-aside {
  position: relative;
  width: 100%;
  height: 320px;
  &__desc {
    position: absolute;
    top: 33px;
    left: 48px;
  }
  &__title {
    display: flex;
    font-size: 37px;
    font-weight: 700;
    line-height: 44px;
    align-items: center;
    color: $primary-color-3;
    margin-bottom: 10px;
  }
  &__tit {
    display: flex;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    align-items: center;
    color: $primary-color-3;
    margin-bottom: 45px;

    a {
      display: inline-block;
      text-decoration: none;
      font-weight: 800;
      margin-right: 5px;
      color: $primary-color-3;
    }
  }
  &__aplication {
    display: flex;
    align-items: center;
    padding-left: 20px;
  }
  &__app-store,
  &__google-play {
    width: 190px;
    height: 55px;
    margin: 0 12px;
    box-shadow: 3px 3px 3px 1px #3333;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
